.inventory{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .sidebar{
        width:12%;
        background:#020617;
        color:white;
        padding:1%;
        transition:.3s;
        height: 90%;
        position: absolute;
        flex: 0;
      }
      .inventory_content{
        flex: 1;
        margin-left: 15%;
        padding: 5px;
      }
      .sidebar.collapsed{width:70px}
      .sidebar h3{margin:0 0 20px}
      .nav a{
        display:flex;
        gap:10px;
        padding:10px;
        border-radius:10px;
        color:white;
        text-decoration:none;
        margin-bottom:6px;
      }
      .nav a.active,.nav a:hover{background:#1e293b}
      .toggle{
        cursor:pointer;
        margin-bottom:20px;
        font-size:20px;
      }
}


  